html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
  
}

.person {
    
    
}
.person__description {
  font-size: 16px;
  line-height: 22px;
  
}
.person__link {
    color: #E20613;
}
.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.person__position {
  color: #545454;
  font-size: 18px;
  font-style: italic;
  margin: 0;
}
.special {
  color: #ed6d05;
  font-weight: normal;
}
